* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@media only screen and (max-width:  600px) {
.logoImg {
	width: 40% !important;
	height: 10% !important;
}

#navbarNav a:hover {
	background-color: #000000;
	color: #F4F4F9;
}

.nav-item {
	background-color: #04724D;
	width: 100%;
	text-align: center;
}

main {
	position: absolute;
	z-index: 1;
	background-color: #B8DBD9;
	height: auto;
}

.aboutmeContent {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.myPic {	
	width: 150px;
	height: 150px;
}

.mypicContainer {
	grid-column: 2/4;
	grid-row: 1 / span 1;
	margin-top: 5%;
	padding-bottom: 5%;
}

.introduction {
	grid-column: 1/5;
	padding-bottom: 5%;
}

.text-center {
	font-size: 90%;
	text-align: center !important;
	margin-left: 3%;
	margin-right: 3%;
}

.professional {
	grid-column: 1/1;
	padding-left: 5%;
}

.picProfessional {
	width: 30px;
	height: 30px;
}

.profInfo {
	grid-column: 1/5;
	padding-bottom: 5%;
	padding-left: 5%;
	margin-top: -3%;
}

#prof_present {
	margin-left: 20px;
	margin-top: -3%;
	font-size: 85%;
}

.presentInfo {
	margin-left: 7%;
	margin-top: 3%;
	font-size: 85%;
}

#prof_previous {
	margin-left: 20px;
	font-size: 85%
}

.previousInfo {
	margin-left: 7%;
	margin-top: 3%;
	font-size: 85%;
}

.education {
	grid-column: 1/1;
	padding-left: 5%;
}

.educPic {
	width: 25px;
	height: 25px;	
}

.educInfo {
	grid-column: 1/5;
	padding-left: 5%;
	margin-top: -7%;
	padding-bottom: 5%;
}

#educ_present {
	margin-left: 20px;
	font-size: 85%;
	/*margin-top: -3%;*/
}

.schoolPresent {
	font-size: 85%;
	margin-left: 20px;
}

.coursePresent {
	font-size: 85%;
	margin-left: 20px;
}

#educ_previous {
	font-size: 85%;
	margin-left: 20px;
}

.schoolPrev {
	font-size: 85%;
	margin-left: 20px;
}

.coursePrev {
	font-size: 85%;
	margin-left: 20px;
}

.skillDiv {
	grid-column: 1/1;
	padding-left: 5%;
}

.skillIcon {
	width: 25px;
	height: 25px;
}

.skillInfo {
	grid-column: 1/5;
	padding-left: 5%;
}

#skills {
	margin-left: 20px;
	font-size: 85%;
	margin-top: -7%;
}

.skillSet {
	margin-left: 37px;
	/*margin-top: -3%;*/
	font-size: 85%;
}
}

@media only screen and (min-width:  992px) {
.logoImg {
	margin-top: -20px;
	width: 200px !important;
	height: 200px !important;
	
}

.nav-item {
	background-color: #04724D;
	width: 200px;
	text-align: center;
}

#navbarNav a:hover {
	background-color: #000000;
	color: #F4F4F9 !important;
}

main {
	position: absolute;
	z-index: 1;
	margin-top: -25px;
	background-color: #B8DBD9;
	height: auto;
}

.aboutmeContent {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
}

.mypicContainer {
	grid-column: 4/4;
	grid-row: 1/1;
	margin-top: 10%;
	padding-bottom: 10%;
}

.myPic {	
	width: 200px;
	height: 200px;
}

.introduction {
	grid-column: 2/7;
	padding-bottom: 8%;
}

.professional {
	grid-column: 2/2;
	grid-row: 3/ span 1;
}

.picProfessional {
	width: 50px;
	height: 50px;
}

.profInfo {
	grid-column: 2/7;
	padding-bottom: 5%;
	padding-left: 3%;
}

#prof_present {
	margin-left: 50px;
	margin-top: -3%;
}

.presentInfo {
	margin-left: 20%;
	margin-top: -3%;
}

#prof_previous {
	margin-left: 50px;
}

.previousInfo {
	margin-left: 20%;
	margin-top: -3%;
}

.education {
	grid-column: 2/2;
	grid-row: 5 / span 1;	
}

.educPic {
	width: 40px;
	height: 40px;	
}

#educ_present {
	margin-left: 50px;
}

.educInfo {
	grid-column: 2/7;
	margin-top: -3%;
	padding-bottom: 5%;
	padding-left: 3%;
}

.schoolPresent {
	margin-left: 20%;
	margin-top: -3%;
}

.coursePresent {
	margin-left: 20%;
}

#educ_previous {
	margin-left: 50px;
}

.schoolPrev {
	margin-left: 20%;
	margin-top: -3%;
}

.coursePrev {
	margin-left: 20%;
}

.skillDiv {
	grid-column: 2/2;
}

.skillIcon {
	width: 40px;
	height: 40px;
}

.skillInfo {
	grid-column: 2/7;
	padding-left: 3%;
}

#skills {
	margin-left: 50px;
	margin-top: -3%;
}

.skillSet {
	margin-left: 22%;
	margin-top: -3%;
}
}


