* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
#logo_img {
	width: 40%;
	height: 10%;	
}

#navbarNav a:hover {
	background-color: #000000;
	color: #F4F4F9;
}

.nav-item {
	background-color: #04724D;
	width: 100%;
	text-align: center;
}

main {
	position: absolute;
	z-index: 1;
	background-color: #B8DBD9;
	height: 100%;
}

#coming_soon {
	display: none;
}
}

@media only screen and (min-width: 600px) {
#logo_img {
	width: 20% !important;	
}

#navbarNav a:hover {
	background-color: #000000;
	color: #F4F4F9;
}

.nav-item {
	background-color: #04724D;
	width: 100%;
	text-align: center;
}

main {
	position: absolute;
	z-index: 1;
	background-color: #B8DBD9;
	height: 100%;
}

#coming_soon {
	display: none;
}
}

@media only screen and (min-width:  992px) {
#logo_img {
	margin-top: -20px;
	width: 200px !important;
	height: 200px !important;	
}

.nav-item {
	background-color: #586F7C;
	width: 200px;
	text-align: center;
}

#navbarNav a:hover {
	background-color: #000000;
	color: #F4F4F9 !important;
}

main {
	position: absolute;
	z-index: 1;
	margin-top: -25px;
	background-color: #B8DBD9;
	height: 100%;
}

#coming_soon {
	display: none;
}
}


