* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
.imgLink{
	width: 50%;
}

#logo_img {
	width: 100% !important;
	margin-top: -20%;
}

#navbarNav a:hover {
	background-color: #000000;
	color: #F4F4F9;
}

.nav-item {
	background-color: #04724D;
	width: 100%;
	text-align: center;
}

main {
	position: absolute;
	z-index: -1;
	background-color: #B8DBD9;
	height: 130%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

#coming_soon {
	display: none;
}

footer {
	position: absolute;
	z-index: 1;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	background-color: #F4F4F9;
	margin-top: 130vh;
}

.footerLogo {
	width: 60%;
}

.footerNavList {
	grid-column: 1/3;
}

.footerNav {
	list-style-type: none;
	margin-top: 5%;	
}

.footerList, .footerList a:hover, .footerList a:link {
	padding-bottom: 5%;
	font: 'Source Sans Pro', sans-serif;
	font-size: 90%;
	color: #04724D;
	text-decoration: none;
	margin-left: 10%;
}

.footerTxt {
	color: #000000;
}

.vl {
	grid-column: 3/3;
	height: 100px;
	border-left: 3px solid #04724D;
	margin-top: 20%;
}

.socialMedia {
	grid-column: 3/5;
	margin-top: -60%;
	margin-left: 15%;
}

.socialMediaIcon {
	width: 15%;
	margin-right: 10%;
}

.copyright {
	grid-column: 3/5;
	font-size: 70%;
	margin-top: -30%;
	margin-left: 10%;
}

.puppypaws {
	width: 100%;
}

.ppawsPic {
	grid-column: 1/5;
	grid-row: 1 / span 1;
	margin-top: 10%;
}

.ppawsTitle, .ppawsTitle a:hover {
	grid-column: 1/5;
	grid-row: 1/ span 1;
	margin-top: 105%;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;	
	text-decoration: none;
	color: #04724D;
}

h4 {
	font-size: 130%;
}

span {
	font-size: 90%;
}

.ppaws {
	color: #000000;
}

.ppawsFramework {
	grid-column: 1/5;
	grid-row: 1/ span 1;
	margin-top: 115%;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
}

.bootstrapAct {
	width: 100%;
}

.bootstrapAda {
	grid-column: 1/5;
	grid-row: 2/ span 1;
	margin-top: -10%;
}

.bootstrap, .bootstrap a:hover {
	grid-row: 2/ span 1;
	grid-column: 1/5;
	text-align: center;
	margin-top: 50%;
	text-decoration: none;
	color: #04724D;
}

.bootstrapTitle {
	color: #000000;
	font-family: 'Source Sans Pro', sans-serif;
}

.bootstrapTxt {
	font-family: 'Source Sans Pro', sans-serif;
	grid-row: 2/ span 1;
	grid-column: 1/5;
	text-align: center;
	margin-top: 65%;
}
}

@media only screen and (min-width: 600px) {
#logo_img {
	width: 50%;
	margin-top: -10%;	
}

#navbarNav a:hover {
	background-color: #000000;
	color: #F4F4F9;
}

.nav-item {
	background-color: #04724D;
	width: 100%;
	text-align: center;
}

main {
	position: absolute;
	z-index: 1;
	background-color: #B8DBD9;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
}

#coming_soon {
	display: none;
}

footer {
	position: absolute;
	z-index: 2;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	background-color: #F4F4F9;
	margin-top: 100vh;
}

.footerLogo {
	width: 60%;
}

.footerNavList {
	grid-column: 2/3;
}

.footerNav {
	list-style-type: none;
	margin-top: 5%;

}

.footerList, .footerList a:hover, .footerList a:link {
	padding-bottom: 5%;
	font: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	color: #04724D;
	text-decoration: none;
}

.footerTxt {
	color: #000000;
}

.vl {
	grid-column: 4/4;
	height: 100px;
	border-left: 3px solid #04724D;
	margin-top: 10%;
}

.socialMedia {
	margin-top: 30%;
}

.socialMediaIcon {
	width: 20%;
	margin-right: 10%;
}

.copyright {
	grid-column: 5/7;
	margin-top: -20%;
	font-size: 12px;
	margin-left: -3%;
}

.puppypaws {
	width: 100%;
}

.ppawsPic {
	grid-column: 2/4;
	grid-row: 1 / span 1;
	margin-top: 20%;
}

.ppawsTitle, .ppawsTitle a:hover {
	grid-column: 4/6;
	grid-row: 1/ span 1;
	margin-top: 40%;
	margin-left: 15%;	
	font-family: 'Source Sans Pro', sans-serif;	
	text-decoration: none;
	color: #04724D;
}

.ppaws {
	color: #000000;
}

.ppawsFramework {
	grid-column: 4/6;
	grid-row: 1/ span 1;
	margin-left: 15%;
	margin-top: 60%;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 90%;
}

.bootstrapAct {
	width: 100%;
}

.bootstrapAda {
	grid-column: 3/6;
	grid-row: 2/ span 1;
	/*margin-top: -40%;*/
}

.bootstrap, .bootstrap a:hover {
	grid-row: 2/ span 1;
	grid-column: 2/3;
	/*margin-top: 20%;*/
	text-decoration: none;
	color: #04724D;
	font-size: 10%;

}

.bootstrapTitle {
	color: #000000;
	font-family: 'Source Sans Pro', sans-serif;
	
}

.bootstrapTxt {
	font-family: 'Source Sans Pro', sans-serif;
	grid-row: 2/ span 1;
	grid-column: 2/3;
	margin-top: 60%;
	padding-right: 10%;
	font-size: 90%;
}
}

@media only screen and (min-width:  992px) {
#logo_img {
	margin-top: -20px;
	width: 200px !important;
	height: 200px !important;	
}

.nav-item {
	background-color: #04724D;
	width: 200px;
	text-align: center;
}

#navbarNav a:hover {
	background-color: #000000;
	color: #F4F4F9 !important;
}

main {
	position: absolute;
	z-index: 1;
	margin-top: -25px;
	background-color: #B8DBD9;
	height: 150%;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
}

#coming_soon {
	display: none;
}

footer {
	position: absolute;
	z-index: 1;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	background-color: #F4F4F9;
	margin-top: 145vh;
}

.footerLogo {
	width: 60%;
}

.footerNavList {
	grid-column: 2/3;
}

.footerNav {
	list-style-type: none;
	margin-top: 5%;

}

.footerList, .footerList a:hover, .footerList a:link {
	padding-bottom: 5%;
	font: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	color: #04724D;
	text-decoration: none;
}

.footerTxt {
	color: #000000;
}

.vl {
	grid-column: 4/4;
	height: 150px;
	border-left: 3px solid #04724D;
	margin-top: 10%;
}

.socialMedia {
	grid-column: 5/7;
}

.socialMediaIcon {
	width: 10%;
	margin-right: 10%;
	margin-top: -25%;
}

.copyright {
	grid-column: 5/7;
	margin-top: -10%;
	font-size: 15px;
	margin-left: 10%;
}

.puppypaws {
	width: 100%;
}

.ppawsPic {
	grid-column: 2/4;
	grid-row: 1 / span 1;
	margin-top: 20%;
}

.ppawsTitle, .ppawsTitle a:hover {
	grid-column: 4/5;
	grid-row: 1/ span 1;
	margin-top: 110%;
	margin-left: 20%;	
	font-family: 'Source Sans Pro', sans-serif;	
	text-decoration: none;
	color: #04724D;
}

.ppaws {
	color: #000000;
}

.ppawsFramework {
	grid-column: 4/6;
	grid-row: 1/ span 1;
	margin-left: 10%;
	margin-top: 70%;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 110%;
}

.bootstrapAct {
	width: 100%;
}

.bootstrapAda {
	grid-column: 3/6;
	grid-row: 2/ span 1;
}

.bootstrap, .bootstrap a:hover {
	grid-row: 2/ span 1;
	grid-column: 2/3;
	margin-top: 25%;
	text-decoration: none;
	color: #04724D;
}

.bootstrapTitle {
	color: #000000;
	font-family: 'Source Sans Pro', sans-serif;

}

.bootstrapTxt {
	font-family: 'Source Sans Pro', sans-serif;
	grid-row: 2/ span 1;
	grid-column: 2/3;
	padding-right: 10%;
	padding-top: 5%;
	font-size: 110%;
}
}


